*{
    font-family: 'Changa One', cursive;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    background: linear-gradient(72deg, rgb(181, 41, 231), rgb(216 43 43));
}





/*Step 6-Copied over CSS portion in google font make up and set margin, padding and box-sizing