*{
    font-family: 'Changa One', cursive;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}






/*Step 6-Copied over CSS portion in google font make up and set margin, padding and box-sizing